.main-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.schedule-grid {
    height: 700px;
    background-color: grey;
    display: flex; /* Use flexbox for column layout */
    gap: 10px; /* Space between columns */
}

.day-column {
    flex: 1; /* Make each column equally wide */
    display: flex;
    flex-direction: column; /* Stack shifts vertically */
    border: 1px solid black; /* Optional: Add a border around each column */
    padding: 10px;
    background-color: #f8f8f8; /* Background color for each day */
    align-items: center;
}

.day-column h3 {
    text-align: center; /* Center-align the day title */
    margin-bottom: 10px;
}

.shift {
    position: relative;
    width: 120px; /* Ensure the shift box is not too wide */
    padding: 10px;
    margin-bottom: 10px; /* Add space between shifts */
    border-radius: 5px;
    text-align: center;
    background-color: #ccc;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.del-btn {
    position: absolute;
    border: none;
    font-weight: bold;
    background-color: #ccc;
    font-size: 18px;
    right: 5px;
    top: 2px;
    color: red;
}