.popup {

    border-radius: 20px;
    position: fixed;
    width: 400px;
    height: 400px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: grey;
}

.popup-inner .close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
}

.popup-inner form {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
label {
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
    align-items: center; /* Center the text and inputs */
    font-size: 12px; /* Optional: Adjust font size */
    color: black; /* Optional: Ensure the text is visible */
}

input {
    width: 80%; /* Ensure inputs are uniformly sized */
    border: none;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

select {
    width: 50%; 
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    margin: 10px;
}

.close-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
}